/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
   /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    /* --normal-font-size: 1rem; */
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: var(--body-font);
  font-size: var(--normal-font-size); */
  /* background-color: var(--body-color); */
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  /* font-weight: var(--font-semi-bold); */
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
   
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    /* background-color: var(--black-color); */
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
  
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu, 
.dropdown__submenu {
  /* max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out; */
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  /* max-height: 1000px;
  transition: max-height .4s ease-in; */
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}
/* .dropdown__menu{
  border: 1px solid red;
  width: 500px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  display: inline-block;
} */
.nav__menu .nav__list .dropdown__item .dropdown__menu{
  /* border: 1px solid red; */
}
.nav__menu .nav__list .nav-link:hover{
  text-decoration: underline;
  text-decoration-color: #ff3465;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  
  
}
.header .container .nav__menu .nav__list .nav__link  {
font-family: "Outfit", sans-serif;
font-style: normal;
font-size: 18px;
font-weight:300;
line-height: 20px;
color: #000;
margin: 0 5px;
}
/* end of header section */


/*start of  automatic carousel section */

.mySlides {
  display: none;
  /* border: 1px solid blue; */
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  /* border: 1px solid red; */
}

/* Caption text */
.text {
  color:#000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  /* border: 1px solid red;  */
  bottom: 200px; 
  height: 200px;
  width: 500px;
  left: 30px;
  
}
.text h1{
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #000;
  font-size: 36px;
  line-height: 40px;
  margin:11 0px;
}
.text h6{
  font-family: "Outfit", sans-sefif;
  font-style: normal;
  font-weight: 300;
  color: #000;
  font-size: 18px;
  line-height: 29px;
  margin: 15px 0px;
}
.text button{
  margin:15px 0px;
  padding: 15px;
  width: 200px;
  border-radius: 45px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}
.text button:hover{
  cursor: pointer;
  border-radius: 30px;
}
.slideshow-container .mySlides .text{
  /* position: relative;
  left: 500px; */
  margin-left: 50px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* end of automatic carousel section */



/* start of features section */
.features{
  text-align: center;
  position: relative;
  top: 40px;
  color: #1BA48B;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 600px;
  font-size: 30px;
  line-height: 70px;
  text-decoration: underline 8px #cdcdcd;
}

/* end of features section */

/* start of customized */
@media only screen and (max-width:600px){
  .customized{
    /* border: 1px solid red; */
    height: 800px;
    width: 100%;
    position: relative;
    top: 80px;
    background-color: #dee3ff;
    color: #fff;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* align-items: center; */
    margin: 15px 0px;
  }
  .customized-content{
    /* border: 1px solid black; */
    margin: 0 5%;
    height: fit-content;
    width: 90%;
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }
  .customized-content .img img{
    width: 300px;
    height: 300px;
  }
  .customized-content .right-content{
    /* border: 1px solid red; */
    width: fit-content;
    height: fit-content;
  }
  .customized-content .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    color: #19092f;
    margin:11 0px;
  
  }
  .customized-content .right-content p{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    color: #19092f;
    margin: 10px 0;
  }
}
@media only screen and (min-width:600px) {
  .customized{
    /* border: 1px solid red; */
    height: 800px;
    width: 100%;
    position: relative;
    top: 80px;
    background-color: #dee3ff;
    color: #fff;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* align-items: center; */
    margin: 15px 0px;
  }
  .customized-content{
    /* border: 1px solid black; */
    margin: 0 5%;
    height: fit-content;
    width: 90%;
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }
  .customized-content .img img{
    width: 300px;
    height: 300px;
  }
  .customized-content .right-content{
    /* border: 1px solid red; */
    width: fit-content;
    height: fit-content;
  }
  .customized-content .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    color: #19092f;
    margin:11 0px;
  
  }
  .customized-content .right-content p{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    color: #19092f;
    margin: 10px 0;
  }
}
@media only screen and (min-width: 768px) {
  .customized{
    /* border: 1px solid red; */
    height: 800px;
    width: 100%;
    position: relative;
    top: 80px;
    background-color: #dee3ff;
    color: #fff;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* align-items: center; */
    margin: 15px 0px;
  }
  .customized-content{
    /* border: 1px solid black; */
    margin: 0 5%;
    height: fit-content;
    width: 90%;
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }
  .customized-content .img img{
    width: 300px;
    height: 300px;
  }
  .customized-content .right-content{
    /* border: 1px solid red; */
    width: fit-content;
    height: fit-content;
  }
  .customized-content .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    color: #19092f;
    margin: 20px 0px;
  
  }
  .customized-content .right-content p{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    color: #19092f;
    margin: 10px 0;
  }
}
@media only screen and (min-width:992px){
  .customized{
    /* border: 1px solid red; */
    height: 600px;
    width: 100%;
    position: relative;
    top: 60px;
    background-color: #dee3ff;
    color: #19092f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
  }
  .customized-content{
    /* border: 1px solid red; */
    margin: 0 5%;
    width: 85%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 60px;
  }
  .customized-content .img img{
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .customized-content .right-content{
    /* border: 1px solid red; */
    width: 850px;
    height: 200px;
    position: relative;
    left: 30px;
  }
  .customized-content .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 39px;
    color: #19092f;
    margin: 20px 0px;

  
  }
  .customized-content .right-content p{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 35px;
    color: #19092f;
    margin: 10px 0;
  }
}

/* end of customized section */

/* start of bottleneck section */
@media only screen and (max-width:600px) {
  .bottleneck-section{
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    background-color:#008e3b ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    

  }
  .bottleneck-section .bottleneck-content{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    width: 90%;
    height: 550px;
    /* border: 1px solid purple; */
    justify-content: space-between;
    align-items: center;
  }
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent h1{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 20px;
      font-weight: 600;
      line-height: 39px;
      color: #fff;
      margin: 20px 0px;
  } 
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
  }
  .bottleneck-section .bottleneck-content .bottleneck-rightcontent img{
    width: 200px;
      height: 200px;
  }
}
@media only screen and (min-width:600px) {
  .bottleneck-section{
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    background-color:#008e3b ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    

  }
  .bottleneck-section .bottleneck-content{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    width: 90%;
    height: 550px;
    /* border: 1px solid purple; */
    justify-content: space-between;
    align-items: center;
  }
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent h1{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 20px;
      font-weight: 600;
      line-height: 39px;
      color: #fff;
      margin: 20px 0px;
  } 
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
  }
  .bottleneck-section .bottleneck-content .bottleneck-rightcontent img{
    width: 200px;
      height: 200px;
  }
}
@media only screen and (min-width:768px) {
  .bottleneck-section{
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    background-color:#008e3b ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    

  }
  .bottleneck-section .bottleneck-content{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    width: 90%;
    height: 550px;
    /* border: 1px solid purple; */
    justify-content: space-between;
    align-items: center;
  }
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent h1{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 25px;
      font-weight: 600;
      line-height: 39px;
      color: #fff;
      margin: 20px 0px;
  } 
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
  }
  .bottleneck-section .bottleneck-content .bottleneck-rightcontent img{
    width: 250px;
      height: 250px;
  }
}
@media only screen and (min-width:992px) {
  .bottleneck-section{
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    background-color:#008e3b ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    }
  .bottleneck-section .bottleneck-content{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    width: 85%;
    height: 550px;
    /* border: 1px solid purple; */
    justify-content: space-between;
    align-items: center;
  }
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent h1{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 1.875rem;
      font-weight: 600;
      line-height: 39px;
      color: #fff;
      margin: 20px 0px;
  } 
  .bottleneck-section .bottleneck-content .bottlenect-leftcontent p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
  }
  .bottleneck-section .bottleneck-content .bottleneck-rightcontent img{
    width: 300px;
      height: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* end of bottlenect-section */

/* start of taskmanagement */
@media only screen and (max-width:600px){
  .task-management{
    width: 100%;
    height: 650px;
    position: relative;
    top: 80px;
    background-color:#9065ec ;
    color: #fff;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 15px 0px;
  }
  .task-management .task-managementcontent{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    width: 90%;
    height: 550px;
    /* border: 1px solid green; */
    justify-content: space-between;
    /* align-items: center; */
  }
  .task-management .task-managementcontent .left-content img{
      width: 250px;
      height: 250px;
  }
  .task-management .task-managementcontent .right-content{
    position: relative;
    left: 30px;
  }
  .task-management .task-managementcontent .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 39px;
    color: #fff;
    margin: 20px 0px;
  }
  .task-management .task-managementcontent .right-content p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
      
  }
  .task-management .task-managementcontent .right-content button{
    background-color: #b6004e;
    color: #fff;
    padding: 10px;
    margin: 15px;
    font-size: 15px;
    border-radius: 20px;
    width: 100px;
  }
  .task-management .task-managementcontent .right-content button:hover{
    cursor: pointer;
  }
}
@media only screen and (min-width:600px){
  .task-management{
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    background-color:#9065ec ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
  }
  .task-management .task-managementcontent{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    width: 90%;
    height: 550px;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
  }
  .task-management .task-managementcontent .left-content img{
      width: 250px;
      height: 250px;
  }
  .task-management .task-managementcontent .right-content{
    position: relative;
    left: 30px;
  }
  .task-management .task-managementcontent .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 39px;
    color: #fff;
    margin: 20px 0px;
  }
  .task-management .task-managementcontent .right-content p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 18px;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
      
  }
  .task-management .task-managementcontent .right-content button{
    background-color: #b6004e;
    color: #fff;
    padding: 10px;
    margin: 15px;
    font-size: 15px;
    border-radius: 20px;
    width: 100px;
  }
  .task-management .task-managementcontent .right-content button:hover{
    cursor: pointer;
  }
}
@media only screen and (min-width:762px){
  .task-management{
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    background-color:#9065ec ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
  }
  .task-management .task-managementcontent{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    width: 90%;
    height: 550px;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
  }
  .task-management .task-managementcontent .left-content img{
      width: 300px;
      height: 300px;
  }
  .task-management .task-managementcontent .right-content{
    position: relative;
    left: 30px;
  }
  .task-management .task-managementcontent .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    line-height: 39px;
    color: #fff;
    margin: 20px 0px;
  }
  .task-management .task-managementcontent .right-content p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 20px;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
      
  }
  .task-management .task-managementcontent .right-content button{
    background-color: #b6004e;
    color: #fff;
    padding: 10px;
    margin: 15px;
    font-size: 15px;
    border-radius: 20px;
    width: 100px;
  }
  .task-management .task-managementcontent .right-content button:hover{
    cursor: pointer;
  }
}
@media only screen and (min-width:992px){
  .task-management{
    width: 100%;
    height: 600px;
    position: relative;
    top: 100px;
    background-color:#9065ec ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
  }
  .task-management .task-managementcontent{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    width: 85%;
    height: 550px;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
  }
  .task-management .task-managementcontent .left-content img{
    width: 300px;
      height: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .task-management .task-managementcontent .right-content{
    width: 850px;
    height: 200px;
    position: relative;
    left: 30px;
  }
  .task-management .task-managementcontent .right-content h1{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 39px;
    color: #fff;
    margin: 20px 0px;
  }
  .task-management .task-managementcontent .right-content p{
    font-family: "Outfit", sans-serif;
      font-style: normal;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 38px;
      color: #fff;
      margin: 10px 0;
      
  }
  .task-management .task-managementcontent .right-content button{
    background-color: #ff3465;
    color: #fff;
    padding: 10px;
    margin: 15px;
    font-size: 19px;
    border-radius: 25px;
    width: 180px;
    border-style: none;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    padding: 15px 0px;
  }
  .task-management .task-managementcontent .right-content button:hover{
    cursor: pointer;
    border: 2px solid #ff3465;
    background-color: #fff;
    color: #ff3465;
  }
}

/* end of taskmanagement */


/* start of industry-heading */
.industry-heading{
  text-align: center;
  position: relative;
  top: 120px;
  color: #1ba48b;
  font-family: "Outfit",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  text-decoration: underline;

}
/* end of industry-heading */

/* start of industry-content */
@media only screen and (max-width:600px){
  .industry-content{
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
  }
  .industry-content .content-1{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid red; */
    position: relative;
    top: 200px;
    text-align: center;
   
  }
  .industry-content .content-1 .img{
    width:200px;
    height: 220px;
    border-radius: 10px;
    /* border: 1px solid rebeccapurple; */

  }
  .industry-content .content-1 .img img{
    width:200px;
    height: 220px;
    border-radius: 10px;
    transition: transform .2s;
  }
  .industry-content .content-1 .img img:hover{
    transform: scale(1.1);
    cursor: pointer;

  }
  .industry-content .content-1 .heading{
    margin: 30px 0px;
    color: #009134;
    font-size: 11px;
  }
}
@media only screen and (min-width:600px){
  .industry-content{
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .industry-content .content-1{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
   
  }
  .industry-content .content-1 .img{
    width:170px;
    height: 200px;
    border-radius: 10px;
    /* border: 1px solid rebeccapurple; */

  }
  .industry-content .content-1 .img img{
    width:170px;
    height: 200px;
    border-radius: 10px;
    transition: transform .2s;
  }
  .industry-content .content-1 .img img:hover{
    transform: scale(1.1);
    cursor: pointer;

  }
  .industry-content .content-1 .heading{
    margin: 30px 0px;
    color: #009134;
    font-size: 11px;
  }
}
@media only screen and (min-width:762px){
  .industry-content{
    width: 100%;
    height: 600px;
    position: relative;
    top: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .industry-content .content-1{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
   
  }
  .industry-content .content-1 .img{
    width:200px;
    height: 220px;
    border-radius: 10px;
    /* border: 1px solid rebeccapurple; */

  }
  .industry-content .content-1 .img img{
    width:200px;
    height: 220px;
    border-radius: 10px;
    transition: transform .2s;
  }
  .industry-content .content-1 .img img:hover{
    transform: scale(1.1);
    cursor: pointer;

  }
  .industry-content .content-1 .heading{
    margin: 30px 0px;
    color: #009134;
  }
}
@media only screen and (min-width:992px){
  .industry-content{
    width: 100%;
    height: 600px;
    position: relative;
    top: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
  }
  .industry-content .content-1{
    width: 260px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    left: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
   
  }
  .industry-content .content-1 .img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    /* border: 1px solid rebeccapurple; */

  }
  .industry-content .content-1 .img a img{
    width:260px;
    height: 250px;
    border-radius: 10px;
    transition: transform .2s;
  }
  .industry-content .content-1 .img img:hover{
    transform: scale(1.1);
    cursor: pointer;

  }
  .industry-content .content-1 .heading{
    margin: 30px 0px;
    color: #009134;
    font-size: 18px;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 33px;
    
  }
}

 /* end of industry-content */

 /* start of footer section */
 @media only screen and (max-width:649px){
  .footer{
    width: 100%;
    height: 600px;
    position: relative;
    top: 100px;
    /* color: #fff; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #e6e6e6;
    flex-wrap: wrap;
  
   }
   .footer .content-1{
    position: relative;
    top: 20px;
    gap: 1;
   }
  .footer .content-1 img{
    width: 150px;
    height: 47px;
    margin: 10px 0;
    
  }
  .footer .content-1 p{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
  }
  .footer .content-2{
    position: relative;
    top: 20px;
    gap: 1;
  }
  
  .footer .content-2 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-2 ul a{
    color: #137547;
  }
  .footer .content-2 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
    
  }
  .footer .content-3{
    position: relative;
    top: 20px;
    gap: 1;
  }
  .footer .content-3 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-3 ul a{
    color: #137547;
  }
  .footer .content-3 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
  }
  .footer .content-4{
    gap: 1;
    position: relative;
    top: 20px;
    
  }
  
  .footer .content-4 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-4 ul a{
    color: #137547;
  }
  .footer .content-4 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
  }
 }
 @media only screen and (min-width:650px){
  .footer{
    width: 100%;
    height: 600px;
    position: relative;
    top: 100px;
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #e6e6e6;
    flex-wrap: wrap;
  
   }
   .footer .content-1{
    margin-left: 20px;
    position: relative;
    top: 20px;
    gap: 1;
   }
  .footer .content-1 img{
    width: 150px;
    height: 60px;
    margin: 10px 0;
  }
  .footer .content-1 p{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
  }
  .footer .content-2{
    position: relative;
    top: 20px;
    gap: 1;
  }
  
  .footer .content-2 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-2 ul a{
    color: #137547;
  }
  .footer .content-2 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
    
  }
  .footer .content-3{
    position: relative;
    top: 20px;
    gap: 1;
  }
  .footer .content-3 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-3 ul a{
    color: #137547;
  }
  .footer .content-3 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
  }
  .footer .content-4{
    gap: 1;
    position: relative;
    top: 20px;
  }
  
  .footer .content-4 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-4 ul a{
    color: #137547;
  }
  .footer .content-4 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
  }
 }
 @media only screen and (min-width:853px){
  .footer{
    width: 100%;
    height: 300px;
    position: relative;
    top: 100px;
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #e6e6e6;
  
   }
   .footer .content-1{
    margin-left: 20px;
    position: relative;
    top: 20px;
   }
  .footer .content-1 img{
    width: 150px;
    height: 60px;
    margin: 10px 0;
  }
  .footer .content-1 p{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
  }
  .footer .content-2{
    position: relative;
    top: 20px;
  }
  
  .footer .content-2 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-2 ul a{
    color: #137547;
  }
  .footer .content-2 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
    
  }
  .footer .content-3{
    position: relative;
    top: 20px;
  }
  .footer .content-3 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-3 ul a{
    color: #137547;
  }
  .footer .content-3 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
  }
  
  .footer .content-4 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-4 ul a{
    color: #137547;
  }
  .footer .content-4 ul a li{
    font-family: "outfit", sans-serif;
    font-style: normal;
    size: 16px;
    font-weight: 400;
    line-height: 38px;
    
  }
 }
 @media only screen and (min-width:992px){
  .footer{
    width: 100%;
    height: 300px;
    position: relative;
    top: 100px;
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #e6e6e6;
  
   }
   .footer .content-1{
    margin-left: 120px;
   }
  .footer .content-1 img{
    width: 150px;
    height: 60px;
    margin: 10px 0;
  }
  .footer .content-1 p{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    color: #000;
  }
  
  .footer .content-2 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 27px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-2 ul a{
    color: #137547;
  }
  .footer .content-2 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 18px;
    font-weight: 400;
    line-height: 38px;
    
    
  }
  .footer .content-3 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 27px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-3 ul a{
    color: #137547;
  }
  .footer .content-3 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 18px;
    font-weight: 400;
    line-height: 38px;
    
  }
  
  
  .footer .content-4{
    margin-right:60px;
  }
  .footer .content-4 h1{
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-size: 27px;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    position: relative;
    bottom: 30px;
  }
  .footer .content-4 ul a{
    color: #137547;
  }
  .footer .content-4 ul a li{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    size: 18px;
    font-weight: 400;
    line-height: 38px;
    
  }
 }

 /* end of footer section */